.SlideInfo {
  position: absolute;
  right: 0;
}

.SlideInfo .SlideInfo-container {
  position: relative;
}

.SlideInfo .SlideInfo-container p {
  padding-right: 125px;
  position: absolute;
  top: 7rem;
}

@media screen and (min-width: 375px) and (max-width: 1024px) {
  .SlideInfo {
    width: 100%;
    top: 650px;
  }

  .SlideInfo .SlideInfo-container p {
    padding-left: 7.5rem;
  }
}

@media screen and (max-width: 375px) {
  .SlideInfo .SlideInfo-container h5 {
    font-size: 100px;
  }

  .SlideInfo .SlideInfo-container p {
    width: 100%;
    padding: 0;
  }
}
