.SlideInfo {
  position: absolute;
  right: 0;
}

.SlideInfo .SlideInfo-container {
  position: relative;
}

.SlideInfo .SlideInfo-container p {
  padding-right: 125px;
  position: absolute;
  top: 7rem;
}

.SlideInfo .SlideInfo-container a {
  text-decoration: underline;
  position: absolute;
  top: 35rem;
}

.SlideInfo .SlideInfo-container a:hover {
  color: black;
}

/* @media screen and (min-width: 375px) and (max-width: 1024px) { */
@media screen and (min-width: 375px) and (max-width: 1280px) {
  .SlideInfo {
    width: 100%;
    top: 650px;
  }

  .SlideInfo .SlideInfo-container p {
    padding-left: 7.5rem;
  }

  .SlideInfo .SlideInfo-container a {
    top: 25rem;
    left: 7.5rem;
  }
}

@media screen and (max-width: 375px) {
  .SlideInfo {
    top: 400px;
  }

  .SlideInfo .SlideInfo-container h5 {
    font-size: 100px;
    position: absolute;
    right: 24px;
  }

  .SlideInfo .SlideInfo-container p {
    width: 80%;
    padding: 0;
    padding-left: 24px;
    top: 6rem;
  }

  .SlideInfo .SlideInfo-container a {
    top: 34rem;
    left: 24px;
  }
}
