.SlideImage {
  display: inline-block;
}

.SlideImage img {
  width: 475px;
  height: 560px;
  object-fit: cover;
}

@media screen and (max-width: 375px) {
  .SlideImage img {
    max-width: 100%;
    height: 280px;
  }
}
