.Slide-container {
  height: 624px;
  padding-top: 100px;
  position: relative;
  display: flex;
}

.Slide .Slide-container .Slide-artist-image {
  width: 128px;
  height: 128px;
  /* position: absolute;
  bottom: 0; */
}
