.SlideshowBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.SlideshowBar a:hover {
  color: var(--color-dark-grey);
}

.SlideshowBar-start:hover {
  cursor: pointer;
  color: var(--color-black);
}

.SlideshowBar-toggle:hover {
  cursor: pointer;
  color: var(--color-black);
}

@media screen and (max-width: 1024px) {
  .SlideshowBar {
    background: var(--color-white);
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 0px;
    z-index: 10;
  }
}

@media screen and (max-width: 1024px) {
  .SlideshowBar {
    width: 100%;
  }
}
