.my-masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -35px;
  margin-top: 40px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 35px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  margin-bottom: 30px;
  position: relative;
}

.my-masonry-grid_column > div .art-info {
  padding: 33px;
  position: absolute;
  bottom: 0;
}

.my-masonry-grid_column > div .art-info p {
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.my-masonry-grid_column > div .art-info h3 {
  font-weight: 400;
}

.my-masonry-grid div:nth-child(3) div:nth-child(3) img {
  display: none;
}

.my-masonry-grid_column > div .bottom-fade {
  height: 50%;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
  position: absolute;
  bottom: 8px;
}

@media screen and (min-width: 900px) and (max-width: 1100px) {
  .my-masonry-grid div:nth-child(3) div:nth-child(3) img {
    display: block;
  }

  .my-masonry-grid .my-masonry-grid_column:nth-child(2) div:nth-child(4) {
    display: none;
  }
}

@media screen and (min-width: 567px) and (max-width: 900px) {
  .my-masonry-grid .my-masonry-grid_column:first-child div:nth-child(6) {
    display: none;
  }
}

@media screen and (max-width: 567px) {
  .my-masonry-grid .my-masonry-grid_column:first-child div:nth-child(11) {
    display: none;
  }
}
