hr {
  height: 1px;
  border: none;
  margin-top: 40px;
  background-color: var(--color-grey);
}

@media screen and (max-width: 1024px) {
  .App {
    height: 100vh;
  }

  hr {
    margin-top: 0;
    position: sticky;
    top: 70px;
  }
}
