.BottomBar {
  width: 100vw;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-grey);
}

.BottomBar-info {
  padding-left: 40px;
}

.BottomBar-nav {
  padding-right: 40px;
}

.BottomBar-nav img:hover {
  cursor: pointer;
  opacity: 0.4;
}

.BottomBar-nav .inactive {
  opacity: 0.2;
}

.BottomBar-nav .inactive:hover {
  pointer-events: none;
  opacity: 0.2;
}

.BottomBar-nav img:last-child {
  margin-left: 40px;
}
