.BottomBar {
  width: 100vw;
  height: 80px;
  background: var(--color-white);
  /* position: absolute; */
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--color-grey);
}

.BottomBar-info {
  padding-left: 40px;
}

.BottomBar-nav {
  padding-right: 40px;
}

.BottomBar-nav img:hover {
  cursor: pointer;
  opacity: 0.4;
}

.BottomBar-nav .inactive {
  opacity: 0.2;
}

.BottomBar-nav .inactive:hover {
  pointer-events: none;
  opacity: 0.2;
}

.BottomBar-nav img:last-child {
  margin-left: 40px;
}

@media screen and (min-width: 375px) and (max-width: 1024px) {
  .BottomBar {
    position: fixed;
  }

  .BottomBar-nav .inactive,
  .BottomBar-nav .inactive:hover {
    touch-action: none;
  }

  .BottomBar-nav img:hover {
    cursor: pointer;
    opacity: 1;
  }
}

@media screen and (max-width: 375px) {
  /* .BottomBar {
    background: var(--color-white);
  } */

  .BottomBar .BottomBar-info {
    padding-left: 24px;
  }

  .BottomBar .BottomBar-info h3 {
    font-size: 14px;
  }

  .BottomBar .BottomBar-info p {
    font-size: 10px;
  }

  .BottomBar-nav {
    padding-right: 24px;
  }

  .BottomBar-nav img {
    width: 16.78px;
    height: 16px;
  }
}
